body>.lr-struct>main>article {
    max-width: 210mm;
    padding: 0;
}

body>.lr-struct>main>article>svg {
    border: solid var(--color-border);
    border-width: 1px 0;
    display: block;
    margin: var(--length-padding) 0;
    width: 100%;
}

@media print {
    body>.lr-struct>main>article>svg {
        border: 0;
        margin: 0;
    }
}

@page {
    margin: 0;
}

body>.lr-struct>main>article>svg>foreignObject>div>header,
body>.lr-struct>main>article>svg>foreignObject>div>footer {
    align-items: center;
    display: flex;
    white-space: pre-wrap;
}

body>.lr-struct>main>article>svg:nth-of-type(2n+1)>foreignObject>div>header,
body>.lr-struct>main>article>svg:nth-of-type(2n+1)>foreignObject>div>footer {
    justify-content: flex-end;
}

body>.lr-struct>main>article>svg>foreignObject>div>header>div>span:first-child::after {
    content: "  ";
}

.unit.contents>div {
    display: flow-root;
}

.unit.contents>div.level2 {
    margin-left: var(--length-tab);
}

.unit.contents>div.level3 {
    margin-left: calc(2 * var(--length-tab));
}

.unit.contents>div>span:first-child::after {
    content: "  ";
}

.unit.contents>div>span:last-child {
    text-align: right;
}

.unit.contents>div>span:last-child>div {
    float: right;
    width: var(--length-tab);
}