body>.lr-struct>main>article {
    max-width: 210mm;
    padding: 0;
}

body>.lr-struct>main>article>svg {
    border: solid var(--color-border);
    border-width: 1px 0;
    display: block;
    margin: var(--length-padding) 0;
    width: 100%;
}

@media print {
    body>.lr-struct>main>article>svg {
        border: 0;
        margin: 0;
    }
}

@page {
    margin: 0;
}

body>.lr-struct>main>article>svg>foreignObject>div>header,
body>.lr-struct>main>article>svg>foreignObject>div>footer {
    align-items: center;
    display: flex;
    white-space: pre-wrap;
}

body>.lr-struct>main>article>svg:nth-of-type(2n+1)>foreignObject>div>header,
body>.lr-struct>main>article>svg:nth-of-type(2n+1)>foreignObject>div>footer {
    justify-content: flex-end;
}

body>.lr-struct>main>article>svg>foreignObject>div>header>div>div:first-child::after {
    content: "  ";
}